<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>  <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-md bg-123">
      <div class="container">
        
          <p class="navbar-brand">DAILY JOURNAL</p>
          <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarMenu"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav ml-auto">
            <!-- 6 -->
            <li id="home" class="nav-item"><a href="/" class="nav-link">HOME</a></li>
            <li id="about" class="nav-item"><a href="/about" class="nav-link">ABOUT US</a></li>
            <li id="contact" class="nav-item"><a href="/contact" class="nav-link">CONTACT US</a></li>
          </ul>
          </div>
      </div>
    </nav>
    
  
    <div class="container">
