<!-- header partial -->
<%- include('./partials/header'); %>

<h1>Contact</h1>
<p>You can find me at <a href="https://github.com/AlSirang"><%= content %>.</a></p>
<!-- footer partial -->
<%- include('./partials/footer'); %>