<!-- header partial -->
<%- include('./partials/header'); %>
<div class="text-center">
  <h1 class="">Page NOT Found</h1>
  <h1>404</h1>
</div>

<!-- footer partial -->
<%- include('./partials/footer'); %>
